body{
    font-family: 'Itim', cursive;
    margin: 10px;
}

.container {
    display: flex;
    align-items: center;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.box1 {
    width: 53%;
    height: 30%;
}

.box2 {
    width: 53%;
    height: 30%;
}
.box2_1 {
    width: 40%;
    height: 50%;
    overflow: hidden;
}
.box2_1 img {
    width: 100%;
    height: auto;
    display: block;
}
*{background-color: rgb(255, 171, 171);}