body{
    font-family: 'Itim', cursive;
    margin: 10px;
}

.container {
    display: flex;
    align-items: center;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.box1 {
    width: 50%;
    height: 500px;
    background-color: lightblue;
    border: 2px solid darkblue;
}

.box2 {
    width: 50%;
    height: 250px;
    overflow: hidden;
}
.box2 img {
    width: 100%;
    height: auto;
    display: block;
}

.box3 {
    width: 50%;
    height: 500px;
    background-color: lightblue;
    border: 2px solid darkblue;
}

.box4 {
    width: 50%;
    height: 500px;
    background-color: lightblue;
    border: 2px solid darkblue;
}

.box5 {
    width: 50%;
    height: 500px;
    background-color: lightblue;
    border: 2px solid darkblue;
}

h5{
    font-family: 'Kanit', sans-serif;
}

*{background-color: rgb(255, 171, 171);}