body {
    background-color: rgb(255, 171, 171);
    display: flex;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

.con1{
    flex-direction: column;
    display: flex;
    border: 1px solid red;
    width: 50%;
    overflow: hidden;
}
.con1 > div{
    overflow: hidden;
}

.con2{
    flex-direction: column;
    display: flex;
    border: 1px solid red;
    width: 50%;
}
.con2 > div{
    overflow: hidden;
    object-fit: cover
}

.con1 div:nth-of-type(1){
    height: 50%;
    width: 100%;
    border: 1px solid blue;
}
.con1 div:nth-of-type(2){
    height: 50%;
    width: 100%;
    border: 1px solid blue;
}

.con2 div:nth-of-type(1){
    height: 50%;
    width: 100%;
    border: 1px solid blue;
}
.con2 div:nth-of-type(2){
    height: 50%;
    width: 100%;
    border: 1px solid blue;
}